src/Sayonara/Properties/PublishProfiles/Sayonara - Web Deploy.pubxml.user
# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
src/Sayonara/bin
src/Sayonara/obj
src/Sayonara/bin/Debug/netcoreapp1.0/Sayonara.deps.json
src/Sayonara/obj/Debug/netcoreapp1.0/dotnet-compile-csc.rsp
src/Sayonara/obj/Debug/netcoreapp1.0/Sayonaradotnet-compile.deps.json
src/Sayonara/bin/Debug/netcoreapp1.0/Sayonara.deps.json
src/Sayonara/obj/Debug/netcoreapp1.0/Sayonaradotnet-compile.deps.json
src/Sayonara/obj/Debug/netcoreapp1.0/dotnet-compile-csc.rsp
src/Sayonara/bin/Debug/netcoreapp1.0/Sayonara.pdb
src/Sayonara/obj/Debug/netcoreapp1.0/dotnet-compile.rsp
src/Sayonara/bin/Debug/netcoreapp1.0/Sayonara.dll
src/Sayonara/bin/Debug/netcoreapp1.0/Sayonara.pdb
*.dll
*.rsp
src/Sayonara/obj/Debug/netcoreapp1.0/Sayonaradotnet-compile.deps.json
src/Sayonara/bin/Debug/netcoreapp1.0/Sayonara.deps.json
src/Sayonara/bin/Debug/netcoreapp1.0/Sayonara.pdb
*.rsp
src/Sayonara/obj/Debug/netcoreapp1.0/Sayonaradotnet-compile.deps.json
src/Sayonara/bin/Debug/netcoreapp1.0/Sayonara.deps.json
*.pdb
src/Sayonara/Properties/PublishProfiles/SayonaraReDoc - Web Deploy.pubxml
src/Sayonara/Properties/PublishProfiles/SayonaraReDoc - Web Deploy.pubxml.user
src/Sayonara/ScaffoldingReadMe.txt