@{
  ViewBag.Title = "New Extract";
}

<div class="row">	
  <div class="col-md-8 col-md-offset-2 defaultform">
    <form asp-controller="Extract" asp-action="Save" class="form-horizontal">
			<fieldset>
				<legend>
					New Extract					
				</legend>
				<div class="control-group">
					<label for="facilityID">Facility</label>
					<div class="controls">
						<input type="text" class="form-control" placeholder="Enter Facility Name" name="facilityID" id="facilityID" />
					</div>
				</div>
				<div class="control-group">
					<label>Type</label>
					<div class="controls">
						<p>
							<button type="button" class="btn btn-primary btn-lg">CSV</button>
							<button type="button" class="btn btn-default btn-lg">PDF</button>
						</p>
						<input type="hidden" name="format" value="csv" />
					</div>
				</div>
				<div class="control-group hidden">
					<label for="documentationview">Documentation View</label>
					<div class="controls">
						<select id="documentationview"></select>
					</div>
				</div>
				<div class="control-group">
					<label for="extractiondate">Extract Date</label>
					<div class="controls">
						<input type="date" name="extractiondate" />
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btn-primary">Submit</button>
						<a asp-controller="Home" asp-action="index" class="btn btn-default" role="button">Cancel</a>
					</div>
				</div>
			</fieldset>
    </form>
  </div>  
</div>
@section scripts
{
	<script type="text/javascript">
		$(function () {
			var csvButton = $("div.controls button[type='button'].btn-primary");
			var pdfButton = $("div.controls button[type='button'].btn-default");
			var format = $("div.controls input[type='hidden']");

			csvButton.click(function () {
				format.val("csv");
				csvButton.removeClass("btn-default").addClass("btn-primary");
				pdfButton.removeClass("btn-primary").addClass("btn-default");
			});

			pdfButton.click(function () {
				format.val("pdf");
				csvButton.removeClass("btn-primary").addClass("btn-default");
				pdfButton.removeClass("btn-default").addClass("btn-primary");
			});

			var substringMatcher = function (strs) {
				return function findMatches(q, cb) {
					var matches, substringRegex;

					// an array that will be populated with substring matches
					matches = [];

					// regex used to determine if a string contains the substring `q`
					substrRegex = new RegExp(q, 'i');

					// iterate through the pool of strings and for any string that
					// contains the substring `q`, add it to the `matches` array
					$.each(strs, function (i, str) {
						if (substrRegex.test(str)) {
							matches.push(str);
						}
					});

					cb(matches);
				};
			};

			var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
				'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
				'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
				'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
				'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
				'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
				'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
				'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
				'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
			];

			$('#facilityID').typeahead({
				hint: true,
				highlight: true,
				minLength: 1
			},
			{
				name: 'states',
				source: substringMatcher(states)
			});

			/*
			$('#lnkTest').click(function () {				
				var restults = $.getJSON('/api/Facilities?query=' + $("input[name='facilityID']").val());
			});
			*/

		});
	</script>
}