@{
  ViewBag.Title = "New Extract";
}

<div class="row">	
  <div class="col-md-8 col-md-offset-2 defaultform">
    <form asp-controller="Extract" asp-action="Save" class="form-horizontal">
			<fieldset>
				<legend>
					New Extract
				</legend>
				@if(ViewBag.ErrorMessage != null)
				{
					<div class="text-danger">@ViewBag.ErrorMessage</div>
				}
				<div class="control-group">
					<label for="facilityID">Facility</label>
					<div class="controls">
						<input type="text" class="form-control" placeholder="Enter Facility Name" id="facilitySearch" />
						<input type="hidden" name="facilityID" />
					</div>
				</div>
				<div class="control-group">
					<label>Type</label>
					<div class="controls">
						<p>
							<button type="button" class="btn btn-primary btn-med">CSV</button>
							<button type="button" class="btn btn-default btn-med">PDF</button>
						</p>
						<input type="hidden" name="format" value="csv" />
					</div>
				</div>
				<div id="docView" class="control-group hidden">
					<label for="documentationview">Documentation View</label>
					<div class="controls">
						<select id="documentationview" name="DocumentationViewID">
							<option>-- Facility Not Selected --</option>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label for="extractiondate">Extract Date</label>
					<div class="controls">
						<input type="date" id ="extractiondate" name="extractiondate" />
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btn-primary">Submit</button>
						<a asp-controller="Home" asp-action="index" class="btn btn-default" role="button">Cancel</a>						
					</div>
				</div>
			</fieldset>
    </form>
  </div>  
</div>
@section scripts
{
	<script type="text/javascript">
		$(function () {
			var csvButton = $("div.controls button[type='button'].btn-primary");
			var pdfButton = $("div.controls button[type='button'].btn-default");
			var docViewControlGroup = $("#docView");
			var format = $("div.controls input[name='format']");

			csvButton.click(function () {
				format.val("csv");
				csvButton.removeClass("btn-default").addClass("btn-primary");
				pdfButton.removeClass("btn-primary").addClass("btn-default");
				docViewControlGroup.addClass("hidden");
			});

			pdfButton.click(function () {
				format.val("pdf");
				csvButton.removeClass("btn-primary").addClass("btn-default");
				pdfButton.removeClass("btn-default").addClass("btn-primary");
				docViewControlGroup.removeClass("hidden");
			});

			var facilities = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
				queryTokenizer: Bloodhound.tokenizers.whitespace,			
				remote: {
					url: '/api/Facilities?query=%QUERY',
					wildcard: '%QUERY'
				}
			});

			$('#facilitySearch').typeahead(null, {
				name: 'facilities',
				display: 'name',
				source: facilities
			});

			$('#facilitySearch').bind('typeahead:select', function (ev, suggestion) {
				$("div.controls input[name='facilityID']").val(suggestion.id);
				$.getJSON('/api/DocumentationViews?FacilityID=' + suggestion.id, function (data) {
					var html = '';
					var len = data.length;
					var $ddlDocViews = $('#documentationview');
					$ddlDocViews.find('option').remove();
					for (var i = 0; i < len; i++) {
						if(data[i].medicalRecordCopy)
							html += '<option value="' + data[i].id + '">' + data[i].name + ' (MRC)</option>';
						else
							html += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
					}
					$ddlDocViews.append(html);
				});
			});					

		});	

	</script>
}