@{
    ViewData["Title"] = "Extracts";
}

<div class="row">
  <div class="col-md-4 col-md-offset-2 text-center hoverhighlight">
    <a href="/Extract/Add">
      <h1><span class="glyphicon glyphicon-plus"></span></h1>
      <h1>New Extract</h1>
    </a>
  </div>
  <div class="col-md-4 text-center hoverhighlight">
    <a href="/Extract/Index">
      <h1><span class="glyphicon glyphicon-list-alt"></span></h1>
      <h1>Check Status</h1>
    </a>
  </div>
</div>
