body {
    padding-top: 50px;
    padding-bottom: 20px;
}

body, html{
  height: 100%;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 150px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*
input,select,textarea {
  max-width: 280px;
}
	*/

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: black;
}

.vcenter {    
  vertical-align: middle;    
}

div.highlighted, tr.highlighted{
  background-color: whitesmoke;    
  cursor: pointer;
}

.defaultform {    	
	padding-top: 15px;
	padding-bottom: 15px;		
    border-color: #ddd;
	border-style: solid;
    border-width: 1px;		
    border-radius: 4px 4px 0 0;
}

div.defaultform div.control-group{
	margin-top: 25px;
}

.img-thumbnail{
    width: 43px;
    height: 43px;
    border: none;
}


